.ncTreeview{
    position:relative;
    border:1px solid #ddd;
	border-radius:5px;
	box-sizing:border-box;
	user-select:none;
}

.ncTreeviewHead{
    padding:4px 8px;
    border-bottom:1px solid #ddd;
    box-sizing:border-box;
	font-size:14px;
}

.ncTreeviewHeadBtn{
    float:right;
	font-size:14px;
}

.ncTreeviewSearch{
    padding:4px 8px;
    border-bottom:1px solid #ddd;
    box-sizing:border-box;
}

.ncTreeviewSearchGroup{
    position:relative;
}

.ncTreeviewSearchInput{
    padding:3px 10px 3px 25px;
	border:1px solid #ccc;
    border-radius:3px;
	width:100%;
	height:24px;
	box-sizing:border-box;
}

.ncTreeviewSearchGroup>i{
    position:absolute;
	left:8px;
	top:6px;
	font-size:11px;
}

.ncTreeviewBody{
    padding:4px 8px;
	box-sizing:border-box;
	overflow:auto;
	min-width:200px;
	min-height:50px;
}

.ncTreeviewNode{
	box-sizing:border-box;
}

.ncTreeviewNodeArrow{
    padding:4px 2px 4px 2px;
	display:inline-block;
	vertical-align: middle;
	width:20px;
	box-sizing:border-box;
}

.ncTreeviewNodeArrow>a{
    padding:2px 4px;
}

.ncTreeviewNodeCheck{
    position:relative;
    padding:4px 2px 4px 2px;
	display:inline-block;
	vertical-align: middle;
	box-sizing:border-box;
}

.ncTreeviewNodeCheck>label,
.ncTreeviewNodeCheck[node-checked=true]>label,
.ncTreeviewNodeCheck[node-checked=middle]>label{
    background-color:#5ECD62;
	border-radius:3px;
	padding:0px 10px;
}

.ncTreeviewNodeCheck>label{
    background-color:#fff;
	border:1px solid #ccc;
}

.ncTreeviewNodeCheck[node-checked=true]>label:before{
    position:absolute;
	content:"";
	left:9px;
	top:8px;
	width:3px;
	height:8px;
	animation: checkboxchecklarge 125ms 50ms cubic-bezier(.1,0,.1,1) forwards;
	transform: rotate(45deg);
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    box-sizing: content-box; 
}

.ncTreeviewNodeCheck[node-checked=middle]>label:before{
    position:absolute;
	content:"";
	left:11px;
	top:9px;
	height:11px;
	animation: checkboxchecklarge 125ms 50ms cubic-bezier(.1,0,.1,1) forwards;
	transform: rotate(90deg);
    border-right: 3px solid #fff;
    box-sizing: content-box; 
}

.ncTreeviewNodeIcon{
    padding:4px 2px 4px 2px;
	display:inline-block;
	vertical-align: middle;
	width:20px;
	box-sizing:border-box;
}

.ncTreeviewNodeContent{
    padding:4px 8px 4px 2px;
	display:inline-block;
	font-size:14px;
	text-overflow:ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	overflow:hidden;
	box-sizing:border-box;
}

.ncTreeviewNodeContent.found{
    background-color:#5ea7ed;
	color:#fff;
}

.ncTreeviewNodeContent:hover,
.ncTreeviewNodeContent.found:hover{
    background-color:#ddd;
}

.ncTreeviewNodeContent.focus,
.ncTreeviewNodeContent.found.focus{
    background-color:#ccc;
}

.ncTreeviewNodeChild{
    margin-left:16px;
}